{% extends "base.njk" %}

{% block contenido %}
  <div class="container">
    <div class="section">
      <div class="columns is-centered is-vcentered">

        <!-- Portada del juego -->
        <div class="column is-6 has-text-centered">
          <div class="box" style="padding: 0;">
            <figure class="image is-square" style="--aspect-ratio: calc(5/8);">
              <img src="/img/{{ juego.img }}" alt="Portada de {{ juego.nombre }}" style="border-radius: 5px;">
            </figure>
          </div>
        </div>

        <!-- Información del juego -->
        <div class="column is-7">
          <div class="box" style="border-radius: 10px; background: linear-gradient(135deg, #ff4554,rgb(181, 0, 15)); color: white; padding: 30px;">
            <h1 class="title has-text-white">{{ juego.nombre }}</h1>

            <!-- Sección de detalles en filas -->
            <div class="columns is-multiline">

              <!-- Fecha de lanzamiento -->
              <div class="column is-12">
                <div class="box has-text-centered" style="background-color: white; border-radius: 10px;">
                  <p class="has-text-weight-bold">🗓️ Fecha de lanzamiento</p>
                  <p>{{ juego.fechaFormateada }}</p>
                </div>
              </div>

              <!-- Puntuación -->
              <div class="column is-12">
                <div class="box has-text-centered" style="background-color: white; border-radius: 10px;">
                  <p class="has-text-weight-bold">⭐ Puntuación: {{ juego.score }} / 100</p>
                  <progress class="progress is-info" value={{ juego.score }} max="100"></progress>
                </div>
              </div>

              <!-- Géneros -->
              <div class="column is-12">
                <div class="box has-text-centered" style="background-color: white; border-radius: 10px;">
                  <p class="has-text-weight-bold">🎮 Géneros</p>
                  {% set generos = juego
                    .genres
                    .split(',') %}
                  {% for genero in generos %}
                    <span class="tag" style="background-color: #00c3e3; color: white;">{{ genero }}</span>
                  {% endfor %}
                </div>
              </div>


            <!-- Desarrolladores -->
            <div class="column is-12">
              <div class="box has-text-centered" style="background-color: white; border-radius: 10px;">
                <p class="has-text-weight-bold">👨‍💻 Desarrolladores</p>
                {% set companies = juego
                  .companies
                  .split(',') %}

                {% for company in companies %}
                  <span class="tag" style="background-color: #00c3e3; color: white;">{{ company }}</span>
                {% endfor %}
              </div>
            </div>
            </div>

            <!-- Descripción -->
            <div class="content">
              <h2 class="subtitle" style="color: #fff;">📜 Descripción</h2>
              <p style="max-height: 200px; overflow-y: auto;">{{ juego.description }}</p>
            </div>

            <!-- Botón -->
            <br>
            <div class="columns is-centered is-vcentered">
              <a href="{{ juego.url }}" class="button is-fullwidth column is-5" 
              style="background-color: #ff4554; color: white; font-weight: bold; border-radius: 5px;">
              🎮 Ver en Nintendo eShop
            </a>

              <!-- Espacio en medio -->
              <div class="column is-1"></div>

              <a href="{{ juego.url }}" class="button is-fullwidth column is-5" 
              style="background-color: #989898; color: white; font-weight: bold; border-radius: 5px;">
              🛒 Añadir al carrito
            </a>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

{% endblock %}