{% extends "base.njk" %}

{% block contenido %}
  <div class="container is-flex is-justify-content-center is-align-items-center mb-4 mt-4">

    <div class="box has-background-white-ter formLogin">
      <h3 class="title is-2 has-text-centered mb-5">Iniciar sesión</h3>
      {% if error %}
        <div class="notification is-danger">
          {{ error }}
        </div>
      {% endif %}
      <hr class="mb-4 lineaSeparadora">

      <form action="/usuarios/login" method="POST">
        <div class="field">
          <label id="labelemail" for="correo" class="label">Correo</label>
          <div class="control has-icons-left">
            <input type="email" id="correo" placeholder="ejemplo@correo.com" name="correo" class="input" required autofocus>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <span class="help is-danger" id="errorEmail">
            <i id="exc" class="fas fa-exclamation-triangle"></i>
            <span id="errorEmailText">El usuario no existe</span> 
          </span>

        </div>
        <div class="field">
          <label id="labelpassword" for="password" class="label">Contraseña</label>
          <div class="control has-icons-left has-icons-right">
            <input type="password" id="password" name="password" class="input" placeholder="Tu contraseña" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right">
              <i id="eye" class="fas fa-eye"></i>
            </span>
          </div>
          <span class="help is-danger" id="errorPassword">
            <i id="exc" class="fas fa-exclamation-triangle"></i>
            <span id="errorPasswordText">La contraseña es incorrecta</span> 
          </span>

        </div>
        <div class="field mb-6">
          <button type="submit" id="login" class="button buttonDefault is-primary is-fullwidth">Acceder</button>
        </div>
      </form>

      <div class="field">
        <p class="has-text-centered">
          <a href="/usuarios/register">¿No tienes cuenta? Regístrate</a>
        </p>
      </div>
      <div class="field">
        <p class="has-text-centered">
          <a href="/usuarios/recuperar">¿Olvidaste tu contraseña?</a>
        </p>
      </div>

    </div>

  </div>
<script src="/scripts/login.js"></script>
{% endblock %}