{% extends "base.njk" %}

{% block contenido %}
  <div class="container is-flex is-justify-content-center is-align-items-center mb-4 mt-4">

    <div class="box has-background-white-ter formLogin">
      <h3 class="title is-2 has-text-centered mb-5">Iniciar sesión</h3>
      {% if error %}
        <div class="notification is-danger">
          {{ error }}
        </div>
      {% endif %}
      <hr class="mb-4 lineaSeparadora">

      <form action="/usuarios/login" method="POST">
        <div class="field">
          <label for="correo" class="label">Correo</label>
          <div class="control has-icons-left">
            <input type="text" id="correo" name="correo" class="input" placeholder="Tu correo" required>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="password" class="label">Contraseña</label>
          <div class="control has-icons-left">
            <input type="password" id="password" name="password" class="input" placeholder="Tu contraseña" required>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field mb-6">
          <button type="submit" id="login" class="button buttonDefault is-primary is-fullwidth">Acceder</button>
        </div>
      </form>

      <div class="field">
        <p class="has-text-centered">
          <a href="/usuarios/registro">¿No tienes cuenta? Regístrate</a>
        </p>
      </div>
      <div class="field">
        <p class="has-text-centered">
          <a href="/usuarios/recuperar">¿Olvidaste tu contraseña?</a>
        </p>
      </div>

    </div>

  </div>

{% endblock %}