:root {
  --bg: #ffffff;
  --card-bg:  	#ff4554;
}

body {
  background: var(--bg);
}

.box {

  background: var(--card-bg);
}


input::placeholder {
  color: antiquewhite;
}

.navbar {
  background: var(--card-bg);
}

.navbar-item {
  color: ghostwhite;
}

.navbar-item.menu:hover{
  background-color:  	#00c3e3;
}

/* Card start*/
.card {
  overflow: hidden;
  background:  	 	#989898;
  color: var(--bg);
  height: 350px;
}

.card.large {
  border-radius: 5px;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.footer {
  background: var(--card-bg);
  color: ghostwhite;
}

.footer a{
  color: black
}

.footer p,
strong {
  color: ghostwhite
}

.footer a:hover {
  color: crimson;
}

.fa {
  color: ghostwhite;
  margin: 10px
}

.navbar-item.is-active {
  background-color:  	#e60012;
}

.navbar-item.logo:hover {
  background-color: transparent !important;
}


.titlepage{
  color: #00c3e3;
}

.buttonDefault{
  background-color: #00c3e3;

}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.formLogin{
  width: 500px;
}

.lineaSeparadora{
  border: 2px solid #b5b5b5; width: 90%; margin: auto;
}